absl-py==2.1.0 ; python_version >= "3.11" and python_version < "3.13"
aiohttp==3.9.5 ; python_version >= "3.11" and python_version < "3.13"
aiosignal==1.3.1 ; python_version >= "3.11" and python_version < "3.13"
annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.13"
anyio==4.4.0 ; python_version >= "3.11" and python_version < "3.13"
asttokens==2.4.1 ; python_version >= "3.11" and python_version < "3.13"
astunparse==1.6.3 ; python_version >= "3.11" and python_version < "3.13"
attrs==23.2.0 ; python_version >= "3.11" and python_version < "3.13"
beautifulsoup4==4.12.3 ; python_version >= "3.11" and python_version < "3.13"
branca==0.7.2 ; python_version >= "3.11" and python_version < "3.13"
certifi==2024.6.2 ; python_version >= "3.11" and python_version < "3.13"
cffi==1.16.0 ; python_version >= "3.11" and python_version < "3.13" and platform_python_implementation != "PyPy"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.13" and (sys_platform == "win32" or platform_system == "Windows")
cryptography==42.0.8 ; python_version >= "3.11" and python_version < "3.13"
decorator==5.1.1 ; python_version >= "3.11" and python_version < "3.13"
distro==1.9.0 ; python_version >= "3.11" and python_version < "3.13"
dnspython==2.6.1 ; python_version >= "3.11" and python_version < "3.13"
email-validator==2.2.0 ; python_version >= "3.11" and python_version < "3.13"
executing==2.0.1 ; python_version >= "3.11" and python_version < "3.13"
fastapi-cli==0.0.4 ; python_version >= "3.11" and python_version < "3.13"
fastapi==0.111.0 ; python_version >= "3.11" and python_version < "3.13"
flatbuffers==24.3.25 ; python_version >= "3.11" and python_version < "3.13"
folium==0.14.0 ; python_version >= "3.11" and python_version < "3.13"
frozenlist==1.4.1 ; python_version >= "3.11" and python_version < "3.13"
gast==0.5.4 ; python_version >= "3.11" and python_version < "3.13"
geographiclib==2.0 ; python_version >= "3.11" and python_version < "3.13"
geopy[aiohttp]==2.4.1 ; python_version >= "3.11" and python_version < "3.13"
google-pasta==0.2.0 ; python_version >= "3.11" and python_version < "3.13"
graphql-core==3.2.3 ; python_version >= "3.11" and python_version < "3.13"
grpcio==1.64.1 ; python_version >= "3.11" and python_version < "3.13"
h11==0.14.0 ; python_version >= "3.11" and python_version < "3.13"
h5py==3.11.0 ; python_version >= "3.11" and python_version < "3.13"
httpcore==1.0.5 ; python_version >= "3.11" and python_version < "3.13"
httptools==0.6.1 ; python_version >= "3.11" and python_version < "3.13"
httpx==0.27.0 ; python_version >= "3.11" and python_version < "3.13"
idna==3.7 ; python_version >= "3.11" and python_version < "3.13"
imageio==2.34.2 ; python_version >= "3.11" and python_version < "3.13"
ipython==8.25.0 ; python_version >= "3.11" and python_version < "3.13"
jedi==0.19.1 ; python_version >= "3.11" and python_version < "3.13"
jinja2==3.1.4 ; python_version >= "3.11" and python_version < "3.13"
jpype1==1.5.0 ; python_version >= "3.11" and python_version < "3.13"
keras==3.3.3 ; python_version >= "3.11" and python_version < "3.13"
lazy-loader==0.4 ; python_version >= "3.11" and python_version < "3.13"
libclang==18.1.1 ; python_version >= "3.11" and python_version < "3.13"
libcst==1.4.0 ; python_version >= "3.11" and python_version < "3.13"
lxml==5.2.2 ; python_version >= "3.11" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "3.13"
markdown==3.6 ; python_version >= "3.11" and python_version < "3.13"
markupsafe==2.1.5 ; python_version >= "3.11" and python_version < "3.13"
matplotlib-inline==0.1.7 ; python_version >= "3.11" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.13"
ml-dtypes==0.3.2 ; python_version >= "3.11" and python_version < "3.13"
multidict==6.0.5 ; python_version >= "3.11" and python_version < "3.13"
namex==0.0.8 ; python_version >= "3.11" and python_version < "3.13"
networkx==3.3 ; python_version >= "3.11" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "3.13"
opt-einsum==3.3.0 ; python_version >= "3.11" and python_version < "3.13"
optree==0.11.0 ; python_version >= "3.11" and python_version < "3.13"
orjson==3.10.5 ; python_version >= "3.11" and python_version < "3.13"
packaging==24.1 ; python_version >= "3.11" and python_version < "3.13"
pandas==2.2.2 ; python_version >= "3.11" and python_version < "3.13"
parso==0.8.4 ; python_version >= "3.11" and python_version < "3.13"
pdfminer-six==20231228 ; python_version >= "3.11" and python_version < "3.13"
pdftotree==0.5.0 ; python_version >= "3.11" and python_version < "3.13"
pexpect==4.9.0 ; python_version >= "3.11" and python_version < "3.13" and (sys_platform != "win32" and sys_platform != "emscripten")
pillow==10.3.0 ; python_version >= "3.11" and python_version < "3.13"
prompt-toolkit==3.0.47 ; python_version >= "3.11" and python_version < "3.13"
protobuf==4.25.3 ; python_version >= "3.11" and python_version < "3.13"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_version < "3.13" and (sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.2 ; python_version >= "3.11" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.11" and python_version < "3.13" and platform_python_implementation != "PyPy"
pydantic-core==2.18.4 ; python_version >= "3.11" and python_version < "3.13"
pydantic==2.7.4 ; python_version >= "3.11" and python_version < "3.13"
pygments==2.18.0 ; python_version >= "3.11" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.13"
python-decouple==3.8 ; python_version >= "3.11" and python_version < "3.13"
python-dotenv==1.0.1 ; python_version >= "3.11" and python_version < "3.13"
python-multipart==0.0.9 ; python_version >= "3.11" and python_version < "3.13"
pytz==2024.1 ; python_version >= "3.11" and python_version < "3.13"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.11" and python_version < "3.13"
rich==13.7.1 ; python_version >= "3.11" and python_version < "3.13"
scikit-image==0.24.0 ; python_version >= "3.11" and python_version < "3.13"
scipy==1.14.0 ; python_version >= "3.11" and python_version < "3.13"
selectivesearch==0.4 ; python_version >= "3.11" and python_version < "3.13"
setuptools==70.1.0 ; python_version >= "3.11" and python_version < "3.13"
shellingham==1.5.4 ; python_version >= "3.11" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.13"
sklearn==0.0.post12 ; python_version >= "3.11" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "3.13"
soupsieve==2.5 ; python_version >= "3.11" and python_version < "3.13"
stack-data==0.6.3 ; python_version >= "3.11" and python_version < "3.13"
starlette==0.37.2 ; python_version >= "3.11" and python_version < "3.13"
strawberry-graphql[debug-server,fastapi]==0.235.0 ; python_version >= "3.11" and python_version < "3.13"
tabula-py[jpype]==2.9.3 ; python_version >= "3.11" and python_version < "3.13"
tensorboard-data-server==0.7.2 ; python_version >= "3.11" and python_version < "3.13"
tensorboard==2.16.2 ; python_version >= "3.11" and python_version < "3.13"
tensorflow-io-gcs-filesystem==0.37.0 ; python_version >= "3.11" and python_version < "3.12"
tensorflow==2.16.1 ; python_version >= "3.11" and python_version < "3.13"
termcolor==2.4.0 ; python_version >= "3.11" and python_version < "3.13"
tifffile==2024.6.18 ; python_version >= "3.11" and python_version < "3.13"
traitlets==5.14.3 ; python_version >= "3.11" and python_version < "3.13"
typer==0.12.3 ; python_version >= "3.11" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.13"
tzdata==2024.1 ; python_version >= "3.11" and python_version < "3.13"
ujson==5.10.0 ; python_version >= "3.11" and python_version < "3.13"
urllib3==2.2.2 ; python_version >= "3.11" and python_version < "3.13"
uvicorn==0.30.1 ; python_version >= "3.11" and python_version < "3.13"
uvicorn[standard]==0.30.1 ; python_version >= "3.11" and python_version < "3.13"
uvloop==0.19.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.11" and python_version < "3.13"
wand==0.6.13 ; python_version >= "3.11" and python_version < "3.13"
watchfiles==0.22.0 ; python_version >= "3.11" and python_version < "3.13"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "3.13"
websockets==12.0 ; python_version >= "3.11" and python_version < "3.13"
werkzeug==3.0.3 ; python_version >= "3.11" and python_version < "3.13"
wheel==0.43.0 ; python_version >= "3.11" and python_version < "3.13"
wrapt==1.16.0 ; python_version >= "3.11" and python_version < "3.13"
yarl==1.9.4 ; python_version >= "3.11" and python_version < "3.13"
